<%- include('../includes/head.ejs') %>
<link href="/css/admin/dashboard.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <div class="dashboard-container">
            <div class="card bordered shadow-effect">
                <div class="card__content">
                    <span class="card__description bold">Programme en cours</span>
                    <h1 class="card__header bebas-font">Strong</h1>
                </div>
                <div class="card__buttons">
                    <button class="btn">commencer l'entrainement</button>                
                    <button class="btn btn-outlined">voir</button>                
                </div>
            </div>
            <div class="action-banner">
                <h1 class="action-banner__title bebas-font">Nouveau programme 🎯</h1>
                <p class="action-banner__description">Concevoir son propre programme d’entrainement avec ses propres exos, le nombre de série, le temps de repos, les techniques d’entrainement et plus encore 💪</p>
            </div>
            <div class="action-banner">
                <h1 class="action-banner__title bebas-font">Nouvelle séance express ✊</h1>
                <p class="action-banner__description">Concevoir une séance sur le pouce quand on a pas le temps oun l’envie de suivre la routine habituelle ! 🌱</p>
            </div>
        </div>
    </body>
<%- include('../includes/end.ejs') %>