<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs', {goBack: true}) %>
        <form class="container">
           <h1 class="title bebas-font">
               Ajouter un exercice
           </h1> 
           <div class="input-field">
               <label for="exerciseName" class="input-field__label">Nom de l'exercice</label>
               <input type="text" name="exerciseName" id="exerciseName" class="input-field__input">
           </div>
            <div class="input-field">
                <label for="muscleTarget" class="input-field__label">Groupe musculaire ciblé</label>
                <input type="number" name="muscleTarget" id="muscleTarget" class="input-field__input">
            </div>
            <table class="set-table">
                <tr class="set-table__header">
                    <th class="set-table__column">Série</th>
                    <th class="set-table__column">Répétitions</th>
                    <th class="set-table__column">Temps de repos (en s)</th>
                    <th class="set-table__column"></th>
                </tr>
                <tr class="set-table__input-field" id="1">
                    <td class="set">1</td>
                    <td class="reps">
                        <input type="number" class="input-field__input" name="reps">
                    </td>
                    <td class="rest">
                        <input type="number" class="input-field__input" name="rest">
                    </td>
                </tr>
            </table>
            <button class="btn btn-fullwidth" id="addSet" type="button">+ Ajouter une série</button>
            <div class="textarea-field">
                <label for="trainingNotes" class="input-field__label">Notes de l'exercice</label>
                <textarea class="textarea-field__textarea bordered" name="trainingNotes" id="trainingNotes" cols="30" rows="10"></textarea>
            </div>
            <button class="btn btn-fullwidth mt-1">Ajouter l'exercice</button>
        </form>
    </body>
    <script src="/js/workoutCreation.js"></script>
<%- include('../includes/end.ejs') %>