<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs', {goBack: true}) %>
        <form class="container">
           <h1 class="title bebas-font">
               Créer une séance
           </h1> 
           <div class="input-field">
               <label for="workoutName" class="input-field__label">Nom de la séance</label>
               <input type="text" name="workoutName" id="workoutName" class="input-field__input">
           </div>
           <div class="input-field">
               <label for="muscleTarget" class="input-field__label">Groupe musculaire ciblés</label>
               <input type="text" name="muscleTarget" id="muscleTarget" class="input-field__input">
           </div>
           <div class="workouts-list">
               <div class="card bordered">
                   <h1 class="card__title bebas-font">Développé couché</h1>
                   <p class="card__details">5 séries x 10 reps</p>
                   <p class="card__details">60 secondes de repos</p>
                   <div class="card__buttons">
                       <button class="btn btn-midwidth">Voir</button>
                       <button class="btn btn-midwidth btn-outlined">Modifier</button>
                   </div>
               </div>
               <div class="card bordered">
                   <h1 class="card__title bebas-font">Développé couché aux haltères</h1>
                   <p class="card__details">2 séries dégressives à la dernière série</p>
                   <p class="card__details">5 séries x 10 reps</p>
                   <p class="card__details">60 secondes de repos</p>
                   <div class="card__buttons">
                       <a href="/exercise" class="btn btn-midwidth">Voir</a>
                       <a class="btn btn-midwidth btn-outlined">Modifier</a>
                   </div>
               </div>
           </div>
           <div class="buttons">
               <a href="/newexercise" class="btn btn-outlined">Ajouter un exercice</a>
               <button class="btn">Commencer</button>
           </div>
        </form>
    </body>
<%- include('../includes/end.ejs') %>