<%- include('../includes/head.ejs') %>
<link href="/css/admin/profile.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs', {goBack: false}) %>
        <div class="container">
            <a href="" class="profile-link bebas-font">Modifier mon mot de passe</a>
            <a href="" class="profile-link bebas-font">Modifier mon adresse mail</a>
            <a href="" class="profile-link bebas-font red-font">Supprimer mon compte</a>
            <a href="" class="profile-link bebas-font">Me déconnecter</a>
        </div>
    </body>
<%- include('../includes/end.ejs') %>