<div class="banner center shadow-effect">
    <h1 class="page-title bebas-font"><%= pageTitle %></h1>
    <% if (isAuth) { %>
    <div class="hamburger-menu <% if (goBack) { %>back<% } %>" <% if (goBack) { %><% if (prevPath !== undefined) { %>onClick="location.href='<%= prevPath %>'"<% } else { %>onclick="history.go(-1);"<% } %><% } %>>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    </div>
    <div class="menu-container">
        <div class="menu">
            <a href="/" class="menu__item <% if(pageTitle == "Dashboard") { %>active<% } %>">
                <svg class="menu__item--icon" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_9_64)">
                    <path d="M14.5 7.61949L4.15731 16.146C4.15731 16.158 4.15428 16.1757 4.14823 16.1998C4.14231 16.2238 4.13916 16.2412 4.13916 16.2535V24.8875C4.13916 25.1992 4.25313 25.4694 4.48101 25.6969C4.70883 25.9245 4.97861 26.039 5.29041 26.039H12.1974V19.1317H16.8027V26.0393H23.7096C24.0214 26.0393 24.2915 25.925 24.519 25.6969C24.7469 25.4696 24.8612 25.1993 24.8612 24.8875V16.2535C24.8612 16.2056 24.8547 16.1695 24.8431 16.146L14.5 7.61949Z" fill="black"/>
                    <path d="M28.7999 14.2032L24.8608 10.9295V3.59047C24.8608 3.42269 24.8069 3.28471 24.6987 3.17673C24.5913 3.06887 24.4533 3.01494 24.2852 3.01494H20.8316C20.6637 3.01494 20.5258 3.06887 20.4177 3.17673C20.3099 3.28471 20.256 3.42275 20.256 3.59047V7.09802L15.8672 3.42842C15.4838 3.11662 15.0281 2.96075 14.5004 2.96075C13.9727 2.96075 13.517 3.11662 13.1333 3.42842L0.199849 14.2032C0.0799549 14.299 0.0142432 14.4279 0.00202069 14.5898C-0.0101388 14.7516 0.0317579 14.8929 0.127837 15.0127L1.24305 16.3439C1.33913 16.4517 1.46488 16.5177 1.62081 16.5418C1.76477 16.5539 1.90873 16.5118 2.05269 16.4159L14.5 6.03674L26.9474 16.4159C27.0436 16.4995 27.1693 16.5413 27.3252 16.5413H27.3792C27.5349 16.5176 27.6604 16.4512 27.757 16.3436L28.8723 15.0127C28.9682 14.8926 29.0103 14.7515 28.9978 14.5896C28.9855 14.4281 28.9195 14.2992 28.7999 14.2032Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_64">
                    <rect width="29" height="29" fill="black"/>
                    </clipPath>
                    </defs>
                </svg>
                <span class="menu__item--title">dashboard</span>
            </a>
            <a href="/programs" class="menu__item <% if(pageTitle == "Mes programmes") { %>active<% } %>">
                <svg class="menu__item--icon" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.5508 16.207H29.6543V12.6196C29.6543 12.303 29.5285 11.9994 29.3046 11.7755C29.0807 11.5516 28.7771 11.4258 28.4604 11.4258H27.2621C27.1053 11.4258 26.9501 11.4567 26.8052 11.5167C26.6604 11.5767 26.5288 11.6646 26.4179 11.7755C26.3071 11.8863 26.2192 12.0179 26.1592 12.1628C26.0992 12.3076 26.0683 12.4629 26.0684 12.6196V23.3805C26.0684 23.5373 26.0992 23.6925 26.1592 23.8373C26.2192 23.9822 26.3071 24.1138 26.418 24.2246C26.5288 24.3355 26.6604 24.4234 26.8052 24.4834C26.9501 24.5434 27.1053 24.5742 27.2621 24.5742H28.4604C28.777 24.5742 29.0807 24.4484 29.3046 24.2246C29.5284 24.0007 29.6542 23.6971 29.6543 23.3805V19.793H30.5508C31.0263 19.793 31.4824 19.6041 31.8186 19.2678C32.1548 18.9316 32.3438 18.4755 32.3438 18C32.3438 17.5245 32.1548 17.0684 31.8186 16.7322C31.4824 16.3959 31.0263 16.207 30.5508 16.207Z" fill="black"/>
                    <path d="M23.0776 10.2305H21.8871C21.5695 10.2305 21.2648 10.3567 21.0402 10.5813C20.8156 10.806 20.6895 11.1106 20.6895 11.4283V16.207H15.3105V11.4283C15.3105 11.1106 15.1843 10.806 14.9597 10.5813C14.7351 10.3567 14.4304 10.2305 14.1128 10.2305H12.9223C12.6046 10.2305 12.3 10.3567 12.0754 10.5813C11.8508 10.806 11.7246 11.1106 11.7246 11.4283V24.5719C11.7246 24.8895 11.8508 25.1941 12.0754 25.4187C12.3 25.6433 12.6046 25.7695 12.9223 25.7695H14.1128C14.4304 25.7695 14.735 25.6434 14.9597 25.4188C15.1843 25.1942 15.3105 24.8895 15.3105 24.5719V19.793H20.6895V24.5719C20.6895 24.8895 20.8156 25.1941 21.0402 25.4187C21.2648 25.6433 21.5695 25.7695 21.8871 25.7695H23.0776C23.3952 25.7695 23.6999 25.6434 23.9245 25.4188C24.1491 25.1942 24.2754 24.8895 24.2754 24.5719V11.4283C24.2754 11.1106 24.1492 10.806 23.9245 10.5813C23.6999 10.3567 23.3953 10.2305 23.0776 10.2305Z" fill="black"/>
                    <path d="M8.73779 11.4258H7.53941C7.38264 11.4258 7.2274 11.4567 7.08256 11.5167C6.93773 11.5767 6.80613 11.6646 6.69528 11.7755C6.58443 11.8863 6.4965 12.0179 6.43652 12.1628C6.37654 12.3076 6.34568 12.4629 6.3457 12.6196V16.207H5.44922C4.97369 16.207 4.51765 16.3959 4.1814 16.7322C3.84515 17.0684 3.65625 17.5245 3.65625 18C3.65625 18.4755 3.84515 18.9316 4.1814 19.2678C4.51765 19.6041 4.97369 19.793 5.44922 19.793H6.3457V23.3805C6.3457 23.5373 6.37657 23.6925 6.43656 23.8373C6.49654 23.9822 6.58447 24.1138 6.69532 24.2246C6.80617 24.3355 6.93776 24.4234 7.08259 24.4834C7.22742 24.5434 7.38265 24.5742 7.53941 24.5742H8.73779C9.05439 24.5742 9.35802 24.4484 9.5819 24.2246C9.80579 24.0007 9.93159 23.6971 9.93164 23.3805V12.6196C9.93163 12.303 9.80584 11.9994 9.58195 11.7755C9.35807 11.5516 9.05441 11.4258 8.73779 11.4258Z" fill="black"/>
                </svg>
                <span class="menu__item--title">mes programmes</span>
            </a>
            <a href="/trainings" class="menu__item <% if(pageTitle == "Mes entrainements") { %>active<% } %>">
                <svg class="menu__item--icon" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.125 5.16666H23.25C22.5367 5.16666 21.9583 5.74501 21.9583 6.45833V9.04166H9.04166V6.45833C9.04166 5.74501 8.46331 5.16666 7.75 5.16666H3.87499C3.16168 5.16666 2.58333 5.74501 2.58333 6.45833V14.2083C2.58333 14.9216 3.16168 15.5 3.87499 15.5H7.75C8.46331 15.5 9.04166 14.9216 9.04166 14.2083V11.625H10.3333V24.5417C10.3333 25.255 10.9117 25.8333 11.625 25.8333C12.3383 25.8333 12.9167 25.255 12.9167 24.5417V20.6667H18.0833V24.5417C18.0833 25.255 18.6617 25.8333 19.375 25.8333C20.0883 25.8333 20.6667 25.255 20.6667 24.5417V11.625H21.9583V14.2083C21.9583 14.9216 22.5367 15.5 23.25 15.5H27.125C27.8383 15.5 28.4167 14.9216 28.4167 14.2083V6.45833C28.4167 5.74501 27.8383 5.16666 27.125 5.16666ZM18.0833 18.0833H12.9167V11.625H18.0833V18.0833Z" fill="black"/>
                </svg>
                <span class="menu__item--title">mes entrainements</span>
            </a>
            <!-- <a href="" class="menu__item <% if(pageTitle == "Mes statistiques") { %>active<% } %>">
                <svg class="menu__item--icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.25 22.5H22.5V7.5C22.5 6.67125 21.8288 6 21 6H18C17.1712 6 16.5 6.67125 16.5 7.5V22.5H15V13.5C15 12.6713 14.3287 12 13.5 12H10.5C9.67125 12 9 12.6713 9 13.5V22.5H7.5V1.5C7.5 0.67125 6.82875 0 6 0H3C2.17125 0 1.5 0.67125 1.5 1.5V22.5H0.75C0.336 22.5 0 22.836 0 23.25C0 23.664 0.336 24 0.75 24H23.25C23.664 24 24 23.664 24 23.25C24 22.836 23.664 22.5 23.25 22.5ZM13.5 22.5V18V15.75V13.5V22.5Z" fill="black"/>
                </svg>
                <span class="menu__item--title">Mes statistiques</span>
            </a> -->
            <!-- <a href="/profile" class="menu__item <% if(pageTitle == "Mon compte") { %>active<% } %>">
                <svg class="menu__item--icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_9_57)">
                    <path d="M12.0049 6C9.25504 6 6.99854 8.24869 6.99854 10.9985C6.99854 13.7484 9.25504 16.0049 12.0049 16.0049C14.7547 16.0049 17.0015 13.7484 17.0015 10.9985C17.0015 8.24869 14.7547 6 12.0049 6ZM8.00254 17.0011C5.00029 17.0011 2 19.0013 2 21.9977V24.2205C2.19056 25.4709 3.0001 26.0019 4.00215 26H19.9998C21.0019 26.002 21.6634 25.1655 22 24.2205V21.9977C22.002 18.0012 19.0017 17.0011 15.9975 17.0011H8.00254Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_57">
                    <rect width="24" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>                    
                <span class="menu__item--title">Mon compte</span>
            </a> -->
        </div>
        <div class="menu__background"></div>
    </div>
    <% } %>

</div>
