.modal{
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--black-color);
    opacity: .5;
}

.modal-content{
    position: relative;
    background-color: var(--white-color);
    width: 80%;
    height: 80%;
    overflow: auto;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.modal-header{
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-dropdown {
    width: 100%;
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--bebas-family);
    border: none;
    background-color: var(--white-color);
}

.modal-item__svg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-fill{
    fill: var(--primary-color);
}