.start-container {
  position: relative;
  padding: 11rem 0 9rem 0;
}

.start-header {
  position: fixed;
  z-index: 1;
  top: 6.3rem;
  padding: 2.5rem 3rem;
  background-color: var(--white-color);
  width: 100%;
}

.start-details,
.start-fiel__label,
.flag-exercise__details {
  opacity: 60%;
  margin-bottom: 0.1rem;
}

.flag-exercise {
  padding: 1rem 4rem;
  margin: 1.5rem 0;
}

.flag-exercise {
  display: flex;
  align-items: center;
  height: 6rem;
}

.flag-exercise .flag-exercise__title {
  margin-right: 5rem;
}

.flag-exercise__hidden-element {
  display: none;
}

.flag-exercise.visible .flag-exercise__details {
  display: none;
}

.flag-exercise.visible {
    display: block;
    height: auto;
}

.flag-exercise.visible .flag-exercise__hidden-element {
    display: block;
  }

.flag-exercise__title {
  font-size: 1.7rem;
}

.start-field__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.input-container {
  position: relative;
}

.start-field__input {
  margin: 0.25rem 0;
  width: 13rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.control-minus,
.control-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-46%);
  font-size: 4rem;
}
.control-minus {
  left: 1.5rem;
}
.control-plus {
  right: 1.5rem;
}

.chrono {
  background-color: var(--primary-color);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
}

.chrono__counter {
  font-size: 1.7rem;
  margin: 0 0.5rem 0 1.5rem;
}

.chrono__duration-bar {
  background-color: var(--white-color);
  border-radius: 1rem;
  height: 0.5rem;
  width: 70%;
  margin-right: 1.5rem;
}

.chrono__duration-level {
  display: block;
  border-radius: 1rem;
  width: 0%;
  height: 100%;
  background-color: var(--secondary-color);
}

.complete {
  border: 2px solid var(--secondary-color);
}

.start-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 2.5rem 3rem;
}

.chrono.start .chrono__duration-bar .chrono__duration-level{
  transition: width 1s;
  animation-name: startChrono;
  animation-timing-function: linear;
}

@keyframes startChrono {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.stat-btn{
  position: fixed;
  top: 1.5rem;
  right: 0;
  z-index: 100;
}

.stat-btn path {
  fill: var(--white-color);
}

.circuit-container {
  padding-top: 9.5rem;
}

.circuit-exercise{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.set-number-tag{
  margin: .5rem 0;
  padding: .5rem;
  width: 5rem;
  text-align: center;
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: bold;
}